capas/ctrlAsis/BusienssLogic/Connected Services/ServRef_Marcaciones/Marcaciones3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfeMarcacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eMarcacion" nillable="true" type="tns:eMarcacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeMarcacion" nillable="true" type="tns:ArrayOfeMarcacion" />
  <xs:complexType name="eMarcacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODPER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HORAINGRESO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HORASALIDA" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eMarcacion" nillable="true" type="tns:eMarcacion" />
</xs:schema>