capas/ctrlAsis/BusienssLogic/Connected Services/ServRef_Marcaciones/Marcaciones1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://148.102.56.83:82/Marcaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetMarcaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_fecha_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="i_fecha_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="i_codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarcacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetMarcacionesResult" nillable="true" type="q1:ArrayOfeMarcacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>