capas/ctrlAsis/BusienssLogic/Connected Services/ServRef_Marcaciones/Marcaciones1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Marcaciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://148.102.56.83:82/Marcaciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://148.102.56.83:82/Marcaciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://148.102.56.83:82/Marcaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarcaciones_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMarcaciones_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMarcaciones_GetMarcaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarcaciones" />
  </wsdl:message>
  <wsdl:message name="IMarcaciones_GetMarcaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarcacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarcaciones">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarcaciones/DoWork" message="tns:IMarcaciones_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarcaciones/DoWorkResponse" message="tns:IMarcaciones_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarcaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarcaciones/GetMarcaciones" message="tns:IMarcaciones_GetMarcaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarcaciones/GetMarcacionesResponse" message="tns:IMarcaciones_GetMarcaciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarcaciones" type="tns:IMarcaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMarcaciones/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarcaciones">
      <soap:operation soapAction="http://tempuri.org/IMarcaciones/GetMarcaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Marcaciones">
    <wsdl:port name="BasicHttpBinding_IMarcaciones" binding="tns:BasicHttpBinding_IMarcaciones">
      <soap:address location="http://148.102.56.83:82/Marcaciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>